:root {
    --main-bg-color: #ec5353;
}
body {
    color: #1b262c;
}

video {
    width: 100%;
    height: 91.3vh;
    object-fit: cover;
}
section {
    height: 91.3vh;
}
main {
    height: 91.3vh;
}

.message {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.message-error {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 10vh;
}
.message h2 {
    margin-top: 10%;
}
/*--------------------------------------------------------------*/

/*--------------------*/
/* PAGINA INDEX.PHP   */
/*--------------------*/

.d-flex {
    height: 91.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/fondo.jpeg') center/cover no-repeat;
    margin: 0;
}

.contenido {
    text-align: center;
    color: #fff;
}
/*--------------------------------------------------------------*/

/*--------------------*/
/* NAVEGADOR WEB PAG  */
/*--------------------*/

.navbar {
    background-color: rgba(34, 34, 34, 0.75);
    margin: auto;
    justify-content: center;
    width: 100%;
}
.nav-item {
    margin: auto;
}
.navbar-brand {
    top: 5%;
    font-family: "Pixelify Sans", cursive;
    color: var(--main-bg-color);
    text-align: center;
    font-size: 22px;
}
button.btn-close {
    background-color: var(--main-bg-color);
    color: var(--main-bg-color);
}
.dashboard__submit--logout {
    background-color: var(--main-bg-color);
    opacity: 0.6;
    border: none;

    font-weight: bold;
}
.header__enlace {
    color: var(--main-bg-color);
    text-decoration: none;
    font-size: 20px;
}
.header__enlace:hover {
    color: var(--main-bg-color);
}

/* NAVBAR - MENU HAMBURGUESA*/
.icon {
    margin-top: -7.5px;
    padding-right: 10px;
}
.offcanvas {
    background-color: rgba(34, 34, 34, 0.35);
    opacity: 0.7;
}
.offcanvas-header {
    background-color: rgba(34, 34, 34, 0.75);
}
.offcanvas-body {
    background-color: rgba(34, 34, 34, 0.75);
}
.offcanvas-title {
    color: var(--main-bg-color);
    margin: auto;
}

/*--------------------------------------------------------------*/

/*----------------------------------------------------------*/
/* PAGINA DE LOGIN , PAGINA DE REGISTER Y OLVIDE CONTRASEÑA */
/*----------------------------------------------------------*/

.title {
    font-size: 250%;
    color: #bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}
.contenedor {
    position: absolute;
    opacity: 0.7;
    top: 0%;
    width: 100%;
    height: 91.3vh;
}
.central {
    max-width: 320px;
    width: 100%;
}
.red-card {
    width: 100%;
    padding: 20px 30px;
    margin-top: 50%;
    margin-left: 30%;
    background-color: var(--main-bg-color);

    -webkit-box-shadow: 0px 0px 5px 5px rgba(231, 123, 123, 0.726);
    -moz-box-shadow: 0px 0px 5px 5px rgba(177, 99, 99, 0.788);
    box-shadow: 0px 0px 5px 5px rgba(82, 41, 41, 0.733);

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-sizing: border-box;
}
.red-card input {
    font-family: "Overpass", sans-serif;
    font-size: 110%;
    color: #1b262c;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.red-card input::placeholder {
    font-family: "Overpass", sans-serif;
    color: #e4e4e4;
}
.red-card button {
    font-family: "Overpass", sans-serif;
    font-size: 110%;
    color: #1b262c;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #bbe1fa;
    margin-top: 10px;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.red-card button:hover {
    background-color: #0f4c75;
    color: #bbe1fa;
}
.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}
.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}
.inferior a:hover {
    color: #3282b8;
}
label {
    color: #bbe1fa;
}
.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
}
.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}
.pie-form a:hover {
    color: #0f4c75;
}

/*--------------------------------------------------------------*/

/*------------------*/
/* PAGINA DE FOOTER */
/*------------------*/

footer {
    height: 80px;
    width: 100%;
    background-color: rgba(34,34,34,0.75);
    color: var(--main-bg-color);
}
.footer__grid{
    width: 100%;
    height: 80px;
}
.footer__contenido{
    height: 80px;
    padding-left: 30px;
    font-family: "Pixelify Sans", cursive;
}
.footer__logo {
    font-size: 25px;
}
.menu-redes{
    text-align: center;
}
.menu-redes__enlace {
    color: var(--main-bg-color);
    text-decoration: none;
}
/*--------------------------------------------------------------*/

/*----------------------*/
/*   PAGINA DE BROWSER  */
/*----------------------*/

h1 {
    top: 5%;
    left: 65%;
    font-family: "Pixelify Sans", cursive;
    color: var(--main-bg-color);
    text-align: center;
    font-size: 100px;
    padding-top: 40px;
}

/*--------------------------------------------------------------*/
