body {
    color: #ec5353;
    overflow: hidden;
    margin: 0%;
}

.registro {
    width: 300px;            
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1 {
    text-align: center;
    margin: 20 auto;
    font-size: 40px;
}

.registro .campo {
    margin-bottom: 15px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

.registro input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
